<form [formGroup]="ingredientsForm" class="mb-2">
  <!-- <form [formGroup]="ingredientsForm" (ngSubmit)="onSubmit()"> -->
  <div formArrayName="ingredients" class="">
    <div
      *ngFor="let ingredient of ingredients.controls; let i = index"
      [formGroupName]="i"
      class="ingredient-row"
    >
      <div *ngIf="ingredient.value.isEditing && editable" class="flex flex-col space-y-2">
        <div class="flex w-full gap-2 items-center">
          <!-- <div class="flex grow-3 min-w-60 items-start space-x-2"> -->
          <input
            type="text"
            formControlName="quantity"
            placeholder="Quantity (e.g. 1 1/2)"
            class="ingredient-input outline-1 flex-none w-16 py-2 px-3"
          />
          <select
            formControlName="unit"
            class="ingredient-input outline-1 flex-none w-20 py-2 px-3 appearance-none"
          >
            <option value="">-- Unit --</option>
            <option value="cup">cup</option>
            <option value="tbsp">tbsp</option>
            <option value="tsp">tsp</option>
            <option value="g">g</option>
            <option value="oz">oz</option>
          </select>
          <input
            type="text"
            formControlName="name"
            placeholder="Ingredient name"
            class="ingredient-input outline-1 grow py-2 px-3"
          />
        </div>

        <div class="editing-options-editmode flex shrink-0 gap-1">
          <button 
            class="bg-accent-dark"
            type="button" 
            (click)="saveIngredient(i)"
          >&check;</button>
          <button 
            type="button" 
            (click)="removeIngredient(i)"
          >&#10006;</button>
        </div>
      </div>
      <div *ngIf="!ingredient.value.isEditing || !editable">
        <div class="flex px-3 py-2 gap-2 mb-1 bg-light-gray">
          <p>
            {{ ingredient.value.quantity }}
            {{ ingredient.value.unit }}
            {{ ingredient.value.name }}
          </p>
        </div>
        <div class="editing-options-viewmode flex gap-2 mb-1">
          <button 
            class="px-2 py-1 bg-light-blue"
            type="button" 
            (click)="editIngredient(i)"
          >edit</button>
          <button 
            type="button" 
            (click)="removeIngredient(i)"
          >remove</button>
        </div>
      </div>
    </div>
  </div>
  <button type="button" (click)="addIngredient()">Add Ingredient</button>
</form>
