<form [formGroup]="instructionsForm">
<!-- <form [formGroup]="instructionsForm" (ngSubmit)="onSubmit()"></form> -->
    <div formArrayName="instructions">
        <div
            *ngFor="let instruction of instructions.controls; let i = index"
            [formGroupName]="i"
            class="instruction-row"
        >
            <div *ngIf="instruction.value.isEditing && editable">
                <textarea
                    formControlName="step"
                    placeholder="Step {{ i + 1 }}:"
                    class="instruction-input"
                ></textarea>

                <div class="editing-options-editmode">
                    <button type="button" (click)="saveInstruction(i)">Save</button>
                    <button type="button" (click)="removeInstruction(i)">×</button>
                </div>
            </div>

            <div *ngIf="!instruction.value.isEditing || !editable">
                <p>{{ instruction.value.step }}</p>

                <div class="editing-options-viewmode">
                    <button type="button" (click)="editInstruction(i)">edit</button>
                    <button type="button" (click)="removeInstruction(i)">remove</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" (click)="addInstruction()">Add Step +</button>
</form>