<form [formGroup]="instructionsForm" class="mb-2">
  <!-- <form [formGroup]="instructionsForm" (ngSubmit)="onSubmit()"></form> -->
  <div formArrayName="instructions" class="">
    <div
      *ngFor="let instruction of instructions.controls; let i = index"
      [formGroupName]="i"
      class="instruction-row"
    >
      <div *ngIf="instruction.value.isEditing && editable" class="flex flex-col space-y-2">
        <div class="flex w-full gap-2 items-center">
          <!-- <div class="flex grow-3 min-w-60 items-start space-x-2"> -->
          <textarea
            formControlName="step"
            placeholder="Step {{ i + 1 }}:"
            class="instruction-input outline-1 grow py-2 px-3"
          ></textarea>
        </div>

        <div class="editing-options-editmode flex shrink-0 gap-1">
          <button type="button" (click)="saveInstruction(i)" class="bg-accent-dark">&check;</button>
          <button type="button" (click)="removeInstruction(i)">&#10006;</button>
        </div>
      </div>

      <div *ngIf="!instruction.value.isEditing || !editable">
        <div class="flex px-3 py-2 gap-2 mb-1 bg-light-gray">
          <p class="">{{ instruction.value.step }}</p>
        </div>

        <div class="editing-options-viewmode flex gap-2 mb-1">
          <button 
            class="bg-light-blue px-2 py-1"
            type="button" 
            (click)="editInstruction(i)"
          >edit</button>
          <button  
            type="button" 
            (click)="removeInstruction(i)"
          >remove</button>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="" (click)="addInstruction()">Add Step +</button>
</form>
