@import "tailwindcss";

@font-face {
  font-family: "Spectral";
  src: url("/assets/fonts/Spectral-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("/assets/fonts/WorkSans-Regular.ttf") format("truetype");
}

@utility bg-white {
  background-color: var(--bg-white);
}

@utility bg-light-blue {
  background-color: var(--bg-light-blue);
}

@utility bg-light-gray {
  background-color: var(--bg-light-gray);
}

@utility bg-accent {
  background-color: var(--accent);
}

@theme {
  --font-heading: "Spectral", serif;
  --font-body: "Work Sans", sans-serif;

  --bg-white: #ffffff;
  --bg-light-blue: #eef7ff;
  --bg-light-gray: #f2f2f2;
  --text: #333;
  --accent: #d44930;
  --border-radius: 8px;
  --spacing: 0.75rem;


  --testpink: #ff00ff;
}