@import "tailwindcss";

@font-face {
  font-family: "Spectral";
  src: url("/assets/fonts/Spectral-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("/assets/fonts/WorkSans-Regular.ttf") format("truetype");
}

@utility bg-white {
  background-color: var(--bg);
}

@utility bg-testpink {
  background-color: var(--testpink);
}

@theme {
  --font-heading: "Spectral", serif;
  --font-body: "Work Sans", sans-serif;

  --bg: #ffffff;
  --text: #333;
  --accent: #d44930;
  --accent-dark: #a53e12;
  --border-radius: 8px;
  --spacing: 0.75rem;


  --testpink: #ff00ff;
}